.git
.gitignore
.env
.env.*
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/pail/*
bootstrap/cache/*.php
README.md
tests
phpunit.xml
docker-compose.yml
docker-compose.yaml
